body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    box-sizing: border-box;
    overflow: auto;
}

#input-el {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    border-radius: 5px;
    margin-bottom: 10px;
}
#input-el:focus {
    outline: 1px solid  #5f9341;
}
.btn-container {
    display: flex;
    gap: 10px;
}

button {
    background: #5f9341;
    color: white;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #5f9341;
}
button:active {
    background-color: #528037ab;
    border: 1px solid black;
}
#delete-btn:active {
    background-color: rgba(128, 128, 128, 0.3);    
}
#delete-btn {
    background-color: white;
    color: #5f9341;
    margin-left: auto;    
    border-radius: 5px;
    font-size: 12px;
}
#privateLabel {
    margin: auto 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.notFound {    
    padding: 5px 5px 5px 0px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    border: 1px dashed #000;
}
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;    
}


li {
    margin-top: 10px;
    border-bottom: 1px solid;    
    word-wrap: break-word;
    padding: 5px;
}

a {
    color: #5f9341;
    text-decoration: none;
}


